{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="header" class="header-container">
  {%- if section.settings.announcement_bar_enabled -%}
    <div>
      {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
        {%- if section.settings.announcement_bar_link != blank -%}
          <a href="{{ section.settings.announcement_bar_link }}">
            {{ section.settings.announcement_bar_text | escape }}
          </a>
        {%- else -%}
          <p>{{ section.settings.announcement_bar_text | escape }}</p>
        {%- endif -%}
      {%- endif -%}
    </div>
  {%- endif -%}

  <header role="banner" data-header-child="header-child" class="header ">
    <!--<a href="/cart" data-cart-button="cart_button" class="cart_button" >-->
    <div data-links-module-left="links_module_left" class="links-module-left links-module-left--style--{{section.settings.header_style}}">
      <div data-burger-menu="burger_menu" class="burger-menu">
        =
      </div>
      <div data-navigation-opener-link="navigation_opener_link" class="navigation-opener-link" >
        {{ 'layout.navigation.desktop_title' | t }}
      </div>
      {% if section.settings.header_style != 'center' %}
        <div data-shop-logo-module="shop_logo_module">
          {% if template.name == 'index' %}
          <h1>
            {% else %}
            <div class="h1">
              {% endif %}
              <a href="/" class="logo-image">
                {% if section.settings.logo != blank %}
                {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
                <img src="{{ section.settings.logo | img_url: image_size }}"
                     srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                     alt="{{ section.settings.logo.alt | default: shop.name }}">
                {% else %}
                {{ shop.name }}
                {% endif %}
              </a>
              {% if template.name == 'index' %}
          </h1>
          {% else %}
        </div>
        {% endif %}
      {% endif %}
    </div>
    {% if section.settings.header_style == 'center' %}
    <div data-shop-logo-module="shop_logo_module">
      {% if template.name == 'index' %}
      <h1>
        {% else %}
        <div class="h1">
          {% endif %}
          <a href="/" class="logo-image">
            {% if section.settings.logo != blank %}
            {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
            <img src="{{ section.settings.logo | img_url: image_size }}"
                 srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                 alt="{{ section.settings.logo.alt | default: shop.name }}">
            {% else %}
            {{ shop.name }}
            {% endif %}
          </a>
          {% if template.name == 'index' %}
      </h1>
      {% else %}
    </div>
    {% endif %}
    {% endif %}
    </div>
    <div data-links-module-right="links_module_right" class="links-module-right">
      <button data-product-search-button="product_search_button" class="search-button">
        {% include 'icon-search' %}
        <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
      </button>
      <div data-search-menu="data_search_menu" class="search-menu visually-hidden">
        {% include 'modal' position:'center', data:'search', hide_header: 'true' %}
      </div>
      <div data-account-menu="account_menu" class="account-menu">
        {% if shop.customer_accounts_enabled == 'false' %}
          {% if customer %}
            <div data-customer-module="customer_module" class="customer-container">
              {% if customer.first_name != blank %}
                {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
              {% else %}
                <a href="/account">{{ 'layout.customer.account' | t }}</a>
              {% endif %}
              <div data-customer-links="customer_links" class="account-links">
                <ul>
                  <li>
                    {{ 'layout.customer.log_out' | t | customer_logout_link }}
                  </li>
                </ul>
              </div>
            </div>
          {% else %}
            <div data-off-customer-links="off_customer_links" class="off-customer-links">
              <ul>
                <li>
                  {{ 'layout.customer.log_in' | t | customer_login_link }}
                </li>
                <li>
                  {{ 'layout.customer.create_account' | t | customer_register_link }}
                </li>
              </ul>
            </div>
          {% endif %}
        {% endif %}
      </div>
      <div data-cart-button="cart_button" class="cart_button">
        <span data-cart-icon="cart_icon" class="cart-icon visually-hidden">{% include 'icon-cart' %}</span>
        <span data-cart-title="cart_title" class="cart-title visually-hidden">{{ 'layout.cart.title' | t }}</span>
        <span data-cart-item-count="cart_item_count" class="cart-icon-count">({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }})</span>
      </div>
      <div data-cart-modal="cart_menu_modal" class="cart-menu-modal visually-hidden">
        {% include 'modal' position:'right', data:'cart' %}
      </div>
      <div data-currency-box="currency-box" class="currency_box visually-hidden"></div>
    </div>
  </header>
  <div class="navigation-content">
    <nav class="navigation-module" role="navigation" data-navigation-module="navigation_module">
      {% include 'navigation' position: section.settings.navigation_position  %}
    </nav>
    <div class="navigation-promo">RANDOM CONTENT</div>
  </div>
</section>

{% if section.settings.logo != blank %}
  <style>
    .logo-image {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    }
  </style>
{% endif %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "select",
        "id": "header_style",
        "label": "Select Header Style",
        "options": [
        {
        "value": "left",
        "label": "Logo Left"
        },
        {
        "value": "center",
        "label": "Logo Center"
        },
        {
        "value": "right",
        "label": "Logo Right"
        }
      ],
        "default": "center",
        "info": "Choose from a handful of essential options to position your navigation links to represent your site the best way possible"
      },
      {
      "type": "select",
      "id": "navigation_position",
      "label": "Select Navigation Menu Position",
      "options": [
      {
      "value": "left",
      "label": "Left"
      },
      {
      "value": "center",
      "label": "Center"
      },
      {
      "value": "right",
      "label": "Right"
      }
      ],
      "default": "left",
      "info": "Choose from a handful of essential options to position your navigation links to represent your site the best way possible"
      },
      {
      "type": "color",
      "id": "underline_color",
      "label": "Underline Color",
      "default": "#000"
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
